<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
         
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
          <div text-center>
            <img src="../assets/imgs/elelogo.png" height="40px">
          </div>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
  <ion-col >
      <div text-center>
        <ion-slides *ngIf="images.length > 0"  autoplay="2000" loop="true" >

              <ion-slide *ngFor="let p of images">
                
                <img src="{{myurl+'/image/'+p.image}}" />
              </ion-slide>
            </ion-slides>
     </div> 
     
     <p style="font-size:2rem" text-center >{{name}}</p><br>
        Precio:{{currency}} {{price.toLocaleString('de-ge', {minimumFractionDigits: 2})}}<br>
        <ion-row>
          <ion-label>Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="quantity"></ion-input>
        </ion-row>
        <ion-item *ngFor="let custom of options">
        <ion-label>{{custom.name}}</ion-label>
        <ion-select multiple="false" [(ngModel)]="optionpick">
            <ion-option  [value]='option.option_id' id="{{option.option_id}}" selected="false"  *ngFor="let option of custom.product_option_value; let k=index">{{option.name}}</ion-option>
        </ion-select>
      </ion-item>
       <button ion-button bottom color="light" block (click)="agregacarro(product_id)" >Agregar<ion-icon  name="cart"></ion-icon></button>
 </ion-col>
</ion-content>