<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
         
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
          <div text-center>
            <img src="assets/imgs/elelogo.png" height="40px">
          </div>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding="10px">
  <ion-col >
    
      <div text-center>
        
        <ion-slides pager *ngIf="images.length > 0"  autoplay="4000" loop="true" >

              <ion-slide *ngFor="let p of images">

              
                    
                <img src="{{myurl+'/image/'+p.image}}" />

              </ion-slide>
            </ion-slides>
     </div> 
     
     <p style="font-size:2rem" text-center >{{name}}</p><br>
     
       <ion-item>
      
     
            <ion-label style="font-size:1.7rem"> Precio:</ion-label>
 
          <ion-label style="font-size:1.5rem;text-align:right">{{currency}} {{price.toLocaleString('de-ge', {minimumFractionDigits: 2})}}
            </ion-label>

       </ion-item>
    
        <ion-row>
            <ion-item>
            <ion-label style="font-size:1.7rem">Cantidad</ion-label>

 
              <ion-select [(ngModel)]="quantity" multiple="false" interface="action-sheet">
                  <ion-option selected value=1>1</ion-option>
                  <ion-option selected value=2>2</ion-option>
                  <ion-option selected value=3>3</ion-option>
                  <ion-option selected value=4>4</ion-option>
                  <ion-option selected value=5>5</ion-option>
                  <ion-option selected value=6>6</ion-option>
                  <ion-option selected value=7>7</ion-option>
                  <ion-option selected value=8>8</ion-option>
                  
              </ion-select>
            
            </ion-item>

        </ion-row>
        <ion-row>
          <ion-item *ngFor="let custom of options">
          
          <ion-label style="font-size:1.7rem">{{custom.name}}</ion-label>
          <ion-select multiple="false" [(ngModel)]="optionpick">
              <ion-option selected [value]='option.product_option_value_id' id="{{custom.product_option_id}}{{option.product_option_value_id}}" selected="false"  *ngFor="let option of custom.product_option_value; let k=index">{{option.name}}

              </ion-option>
          </ion-select>
        
      </ion-item>
    </ion-row>
       <button ion-button bottom color="light" block (click)="agregacarro(product_id)" >Agregar<ion-icon  name="cart"></ion-icon></button>
 </ion-col>
</ion-content>