<ion-header>
    <ion-navbar color="light">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <div text-center>
        <img src="../assets/imgs/elelogo.png" height="40px">
        </div>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-left (click)="vercarro()">
          <ion-icon name="cart"  item-end ><ion-badge color="dark">{{countcart}}</ion-badge></ion-icon>
        
  
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-searchbar showCancelButton (ionInput)="filterProducts($event)" color="danger"  placeholder="Búsqueda" (ionClear)="clearBusq($event)"></ion-searchbar>
  </ion-header>

<ion-content padding>
 
<div >
    <ion-slides *ngIf="banners.length > 0"  autoplay="2000" loop="true" >
        <ion-slide *ngFor="let p of banners">
          <img src="{{myurl+p.image}}" />
        </ion-slide>
      </ion-slides>


  
</div>
  
  <ion-grid>
     
  <ion-row *ngFor="let posicion of productsgrid; let i=index" style="border-top: 1px solid #999; " color="dark">
      
    <ion-col col-6 *ngIf="posicion[0]>=0" style="padding:1px;border-right:1px solid #999;font-size:1.5rem" >
     
      <div text-center>
          <img *ngIf="products[posicion[0]].image" [src]="myurl+products[posicion[0]].image" alt="" width="70%" height="auto">
        </div> 
          <p text-center style="font-size:2rem">{{products[posicion[0]].name}}</p><br>
            Precio:{{products[posicion[0]].price.toLocaleString('de-ge', {maximumFractionDigits: 2})}}<br>


      
                <button  ion-button color="light" block (click)="agregacarro(products[posicion[0]].product_id,'1')" >Agregar<ion-icon  name="cart"></ion-icon></button>
        
    </ion-col>
 
    <ion-col col-6  *ngIf="posicion[1]>=0"  style="padding:1px;font-size:1.5rem"> 
      
      <div text-center> 
        <img *ngIf="products[posicion[1]].image" [src]="myurl+products[posicion[1]].image" alt=""  width="70%" height="auto">
      </div>   
          <p text-center style="font-size:2rem">{{products[posicion[1]].name}}</p><br>
          Precio:{{products[posicion[1]].price.toLocaleString('de-ge', {minimumFractionDigits: 2})}}<br>

      
                  <button ion-button color="light" block (click)="agregacarro(products[posicion[1]].product_id,'1')" >Agregar<ion-icon  name="cart"></ion-icon></button>
         
           
    
      
      
    </ion-col>

  </ion-row>

</ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar style="font-size:0.7rem">
  {{accion}}
  </ion-toolbar>
</ion-footer>
