<ion-header>
    <ion-navbar color="light">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <div text-center>
       
        <img src="assets/imgs/elelogo.png" height="40px">
        </div>
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-left (click)="refresh()">
              <ion-icon name="refresh"  item-end ></ion-icon>
           </button>
        <button ion-button icon-left (click)="vercarro()">
          <ion-icon name="cart"  item-end ><ion-badge color="dark">{{countcart}}</ion-badge></ion-icon>
       </button>
      </ion-buttons>
    </ion-navbar>
    <ion-searchbar showCancelButton (ionInput)="filterProducts($event)" color="danger"  placeholder="Búsqueda" (ionClear)="clearBusq($event)"></ion-searchbar>
  </ion-header>

<ion-content padding>
    

<div *ngIf="categid" text-center>
  <h1>{{categname}}</h1>
    
</div> 
<div >
    <ion-slides pager *ngIf="banners.length > 0"  autoplay="2000" loop="true" color="light" >
        <ion-slide *ngFor="let p of banners">
           <p text-center text-color="light" style="font-family:Script MT;color:#D60056;font-size:3rem">{{p.title}}</p><br>
          <img [src]="myurl+p.image" alt="" width="80px" height="220px" style="height:180px">
        
        </ion-slide>
      </ion-slides>


  
</div>
  
  <ion-grid>
     
  <ion-row *ngFor="let posicion of productsgrid; let i=index"  color="dark" style="border:1px;padding:2px">
      <ion-col col-6 *ngIf="posicion[0]>=0" style="font-size:1rem;" class="iboriti" >
           <div text-center>
            <img (click)="verproducto(products[posicion[0]].product_id,products[posicion[0]].price,products[posicion[0]].image,products[posicion[0]].name)" *ngIf="products[posicion[0]].image" [src]="myurl+products[posicion[0]].image" alt="" width="auto" height="160px">
          </div> 
          <p style="font-size:1.3rem;font-weight: bold;" text-center >{{products[posicion[0]].name}}</p><br>
            Precio:{{currency}} {{products[posicion[0]].price.toLocaleString('de-ge', {minimumFractionDigits: 2})}}<br>
            <button ion-button round small item-end  color="light" (click)="reviewproduct(products[posicion[0]].product_id,posicion[0])"><ion-icon name="star"></ion-icon></button>
            <br>
          <br>
          <br>
          <br>

          <div style="position: absolute; bottom: 0px;right:0px;width:100%;padding:2px">
            <button ion-button round small full color="light" (click)="agregacarro(products[posicion[0]].product_id,'1')" >Agregar  <ion-icon name="cart" style="padding:10px"></ion-icon></button>
          </div>
    </ion-col>
 
    <ion-col col-6  *ngIf="posicion[1]>=0"  style="font-size:1rem;padding:2px" class="iboriti"> 
          <div text-center> 
            <img (click)="verproducto(products[posicion[1]].product_id,products[posicion[1]].price,products[posicion[1]].image,products[posicion[1]].name)" *ngIf="products[posicion[1]].image" [src]="myurl+products[posicion[1]].image" alt=""  width="auto" height="160px">
          </div>   
          <p text-center style="font-size:1.3rem;font-weight: bold;">{{products[posicion[1]].name}}</p><br>
          Precio:{{currency}} {{products[posicion[1]].price.toLocaleString('de-ge', {minimumFractionDigits: 2})}}<br>
          <button ion-button round small item-end color="light" (click)="reviewproduct(products[posicion[1]].product_id,posicion[1])"><ion-icon name="star"></ion-icon></button>
          <br>
          <br>
          <br>
          <br>
          
          <div style="position: absolute; bottom: 0px;right:0px;width:100%;padding:2px" >
            <button ion-button round small full  color="light" (click)="agregacarro(products[posicion[1]].product_id,'1')" >Agregar  <ion-icon  name="cart" style="padding:10px"></ion-icon></button>
          </div>
      
      
    </ion-col>

  </ion-row>

</ion-grid>
</ion-content>
<ion-footer style="height:7%" no-padding>
  <ion-toolbar style="font-size:0.7rem" style="height: 20%" no-padding>

        <ion-buttons color="light">
      <ion-row>

        <ion-col>
          <button ion-button large full clear  (click)="gohome()" >
              <img src="assets/imgs/home.png"style="width:32px"> 
          </button>
        </ion-col>
        <ion-col>
          <button ion-button large full clear  (click)="vercarro()">
              <img src="assets/imgs/cart.png">
          </button>
        </ion-col>
       
        <ion-col>
          <button ion-button large full clear  (click)="veratencion()">
              <img src="assets/imgs/call.png">

          </button>
        </ion-col>

        <ion-col>
            <button ion-button large full clear > 
                <a onclick="window.open('instagram://user?username=ele_look', '_system'); return false;" item-end ><img src="assets/imgs/instagram.png"></a></button>
         </ion-col>
      </ion-row>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
