page-home {
    .scroll-content{
        background: url("../assets/imgs/bgstars.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    
    }
    .button {
        align-self: flex-end;
      }

      .iboriti {
          
        border: 1px solid #f007aa;
    
        font-style: italic;
        border-radius: 5px 5px 5px 5px;
      }
    }