<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="light">
        <div text-center>
        <img src="assets/imgs/elelogobig.png" height="120px">
        </div>
        <div text-center style="color:white" *ngIf="usuario!=''">
            Hola, {{usuario}}
        </div>
    </ion-toolbar>
  </ion-header>

  <ion-content style="padding:5px">
      <ion-list class="sidenav" id="sidenav"  style="padding:0px" class="item-content">
        <button  ion-item><ion-icon name="home" ></ion-icon> Home</button>
        <button  ion-item (click)="loginform()"><ion-icon name="person"></ion-icon> Login</button>
        <ion-item>
            <label  (click)="vercontacto()"><ion-icon name="contact"></ion-icon> Contactanos</label>
            <ion-item-group *ngIf='contactanos' style="font-size: 1rem">
                <ion-item no-lines style="font-size: 1rem">Teléfonos:0414-5692001</ion-item>
                <ion-item no-lines style="font-size: 1rem">Instagram:@ele_look</ion-item>
                <ion-item no-lines style="font-size: 1rem">Dirección:C.C. Divina Pastora</ion-item>
            </ion-item-group>
        </ion-item>
        <button  ion-item (click)="showPrompt()" *ngIf="superusuario"><ion-icon name="chatboxes"></ion-icon> Mensaje Masivos</button>

        <ion-list-header>
            <ion-icon name="basket" style="font-size: 2rem;font-weight:bold"> Categorías</ion-icon>
        </ion-list-header>

        <ion-item *ngFor="let p of pages; let i=index" text-wrap   >
          <label  (click)="pushpage(p.category_id,p.name)" style="padding-left: 20px"> 
          {{p.name}}</label>
            <ion-icon (click)="cambiasubmenu(i)"  *ngIf="p.parents.length>0" color="success" item-right 
              [name]="showsubmenus[i] ? 'arrow-dropdown' : 'arrow-dropright-circle'"></ion-icon>
            <ion-item-group *ngIf="showsubmenus[i]" style="padding-left: 25px">
                <ion-item *ngFor="let m of p.parents" text-wrap >
                    <label no-lines style="padding:0px"  (click)="pushpage(m.category_id,m.name)">{{m.name}}</label>
                </ion-item>

                
            </ion-item-group>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>