// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*.mymodal{
  position: absolute !important;
  width: 90% !important;
  height: 65% !important; 
  top: 20% !important;
  left: 5% !important;
  border:2px;
}*/
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/kaushan-script-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
       url('assets/fonts/kaushan-script-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/kaushan-script-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/kaushan-script-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/kaushan-script-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/kaushan-script-v6-latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Script MT';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SCRIPTBL.TTF') format('truetype'); /* IE9 Compat Modes */
  

}
.item-content {
  padding-top: 0px;
  padding-bottom: 02px;
  margin-top: -4px;
  margin-bottom: -4px;
  height: 10px;
}
#sidenav {
  ion-item-group[sidemenu] {
    overflow: hidden;
    display: block;
    height: 0;
    padding-left: 25px; // maybe margin-left would work better to move the border as well
    color: #ccc;
    transition: height 2s linear;
    &.visible {
        height: 50px;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }

}