<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
         
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
          <div text-center>
            <img src="assets/imgs/elelogo.png" height="40px">
          </div>
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding >
    
    <div *ngIf="!isloginlogic" >
        <form (submit)="doLogin()" autocomplete="off">
          <ion-item>
            <ion-label stacked style="font-size: 2rem"><ion-icon name="contact" ></ion-icon> Usuario</ion-label>
            <ion-input [(ngModel)]="username" name="username" type="text" placeholder="Usuario" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked style="font-size: 2rem"><ion-icon name="lock"></ion-icon> Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <button ion-button block type="submit" color="light">
            Login
          </button>
          <button ion-button block (click)="logiclog()" color="dark">Registro</button>
        </form>
    </div>
    <div *ngIf="isloginlogic">
        <form (submit)="register()" autocomplete="off">
            <ion-item>
              <ion-label stacked style="font-size: 2rem"> email</ion-label>
              <ion-input [(ngModel)]="rusername" name="username" type="text" placeholder="Usuario" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked style="font-size: 2rem">Password</ion-label>
              <ion-input [(ngModel)]="rpassword" name="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked style="font-size: 2rem"> Nombre</ion-label>
              <ion-input [(ngModel)]="rnombre" name="nombre" type="text" placeholder="Nombre" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked style="font-size: 2rem"> Apellidos</ion-label>
                <ion-input  [(ngModel)]="rapellido" name="apellido" type="text" placeholder="Apellido" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked style="font-size: 2rem">Teléfono</ion-label>
                <ion-input  [(ngModel)]="rtelefono" name="telefono" type="text" placeholder="Teléfono" ></ion-input>
            </ion-item>
            

            <button ion-button block (click)="register()" type="submit" color="light">
              Registrar
            </button>
            <button ion-button block (click)="logiclog()" color="light">Volver Login</button>
          </form>
 
    </div>
</ion-content>