<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
         
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
          <div text-center>
            <img src="../assets/imgs/elelogo.png" height="40px">
          </div>
      </ion-title>
    </ion-navbar>
  </ion-header>




  
<ion-content>

    <ion-list-header color="dark">
    <h2>Carrito de Compras</h2>
    <ion-icon name="cart" item-end ></ion-icon>
    </ion-list-header>
    <ion-grid>
      <ion-row *ngFor="let item of micart; let i=index" color="dark">
        <ion-col col-2>
          <img [src]="miurl+item.image">
        </ion-col>
        <ion-col col-4 style="font-size: 1.2rem">
            {{item.name}}
            <p style="font-size: 0.8rem">{{currency}} {{(item.price*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}}</p>
        </ion-col>
        <ion-col col-1>
            <input type="number" class="shrinki" [(ngModel)]="micart[i].quantity"  value="{{item.quantity}}" name="item-{{i}}">
        </ion-col>
        <ion-col col-5 >
              <ion-buttons end>
              <button ion-button small   color="light" (click)="modificapos(i)">
                <ion-icon name="checkmark" ></ion-icon>
              </button>
              <button ion-button  small   color="light" (click)="borrapos(i)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-buttons>
        </ion-col>

      </ion-row>

      <ion-list>
          <ion-item>
            Sub-total:
            <ion-note item-end>   
                <ion-badge color="dark">
                  {{(subtotal*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}} 
                </ion-badge>
            </ion-note>
          </ion-item>
          <ion-item>
              Impuestos:           
              <ion-note item-end>   
                  <ion-badge color="dark">
                    {{(taxes*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}} 
                  </ion-badge>
              </ion-note>
          </ion-item>
          <ion-item>
                Total:
                <ion-note item-end>   
                    <ion-badge color="dark">
                      {{(total*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}} 
                    </ion-badge>
                </ion-note>
          </ion-item>
        </ion-list>
    </ion-grid>
    <div *ngIf="subtotal==0" text-center>
      <ion-badge color="light">
        <h1 text-center>El carrito está vacío</h1>
      </ion-badge>
    </div>
  <div *ngIf="subtotal>0">
    <h2 text-center>Datos para completar el pedido</h2>
    <ion-list>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="text" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" type="text" name="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input [(ngModel)]="email" type="email" name="apellido"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Teléfono</ion-label>
          <ion-input [(ngModel)]="telefono" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Empresa</ion-label>
          <ion-input [(ngModel)]="empresa" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Direccion 1</ion-label>
          <ion-input [(ngModel)]="direccion1" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Dirección 2</ion-label>
          <ion-input [(ngModel)]="direccion2" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Ciudad</ion-label>
          <ion-input [(ngModel)]="ciudad" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Código Postal</ion-label>
          <ion-input [(ngModel)]="codigopostal" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>País</ion-label>
          <ion-select multiple="false" [(ngModel)]="country_id" (ionChange)="getzone($event)">
            
              
              <ion-option *ngFor="let country of countries" selected [value]='country.country_id'  selected="false">{{country.name}}
              </ion-option>
          
          </ion-select>          
      </ion-item>
      <ion-item>
          <ion-label floating>Estado/Región</ion-label>
          <ion-select multiple="false" [(ngModel)]="zoneid" >
              <ion-option *ngFor="let zone of zones" selected [value]='zone.zone_id'  selected="false">{{zone.name}}
                </ion-option>
          </ion-select>        
      </ion-item>
      <ion-item>
          <ion-label floating>Forma de Pago</ion-label>
          <ion-select multiple="false" [(ngModel)]="formadepago" >
              <ion-option  selected [value]='1'  selected="true">Depósito Bancario</ion-option>
              <ion-option  selected [value]='2'  selected="false">Tarjeta de crédito</ion-option>
              
          </ion-select> 
      </ion-item>
      <ion-item>
          <ion-label floating>Observaciones</ion-label>
          <ion-input [(ngModel)]="observaciones" type="textarea"></ion-input>
      </ion-item>
      <ion-item>
        <ion-buttons  color="light">
        <button ion-button block color="light" (click)="putorder()">Colocar Orden</button>
      </ion-buttons> 
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>