<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
         
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
          <div text-center>
            <img src="assets/imgs/elelogo.png" height="40px">
          </div>
      </ion-title>
    </ion-navbar>
  </ion-header>




  
<ion-content>

    <ion-list-header color="dark">
    <h2>Carrito de Compras</h2>
    <ion-icon name="cart" item-end ></ion-icon>
    </ion-list-header>
    <ion-grid>
      <ion-row *ngFor="let item of micart; let i=index" color="dark">
        <ion-col col-2>
          <img [src]="miurl+item.image">
        </ion-col>
        <ion-col col-4 style="font-size: 1.2rem">
            {{item.name}}
            <p style="font-size: 0.8rem">{{currency}} {{(item.price*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}}</p>
        </ion-col>
        <ion-col col-1>
            <input type="number" class="shrinki" [(ngModel)]="micart[i].quantity"  value="{{item.quantity}}" name="item-{{i}}">
        </ion-col>
        <ion-col col-5 >
              <ion-buttons end>
              <button ion-button small   color="light" (click)="modificapos(i)">
                <ion-icon name="checkmark" ></ion-icon>
              </button>
              <button ion-button  small   color="light" (click)="borrapos(i)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-buttons>
        </ion-col>

      </ion-row>

      <ion-list>
          <div *ngIf="2==1">
          <ion-item>
            Sub-total:
            <ion-note item-end>   
                <ion-badge color="dark">
                  {{(subtotal*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}} 
                </ion-badge>
            </ion-note>
          </ion-item>
          <ion-item>
              Impuestos:           
              <ion-note item-end>   
                  <ion-badge color="dark">
                    {{(taxes*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}} 
                  </ion-badge>
              </ion-note>
          </ion-item>
        </div>
          <ion-item>
                Total:
                <ion-note item-end>   
                    <ion-badge color="dark">
                      {{(total*rate).toLocaleString('de-ge', {minimumFractionDigits: 2})}} 
                    </ion-badge>
                </ion-note>
          </ion-item>
        </ion-list>
    </ion-grid>
    <div *ngIf="subtotal==0" text-center>
      <ion-badge color="light">
        <h1 text-center>El carrito está vacío</h1>
      </ion-badge>
    </div>
  <div *ngIf="subtotal>0">
    <h2 text-center>Datos para completar el pedido</h2>
    <ion-list>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="text" name="nombre" (input)='validaespeciales($event)'></ion-input>
      </ion-item>
      <ion-item *ngIf="validaciones[0].length>0">
          {{validaciones[0]}}

      </ion-item>
      <ion-item>
        <ion-label floating>Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" type="text" name="apellido" (input)='validaespeciales($event)'></ion-input>
      </ion-item>
      <ion-item *ngIf="validaciones[1].length>0">
          {{validaciones[1]}}

      </ion-item>
      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input [(ngModel)]="email" type="email" name="apellido"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Teléfono</ion-label>
          <ion-input [(ngModel)]="telefono" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Empresa</ion-label>
          <ion-input [(ngModel)]="empresa" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Direccion 1</ion-label>
          <ion-input [(ngModel)]="direccion1" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Dirección 2</ion-label>
          <ion-input [(ngModel)]="direccion2" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Ciudad</ion-label>
          <ion-input [(ngModel)]="ciudad" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Código Postal</ion-label>
          <ion-input [(ngModel)]="codigopostal" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>País</ion-label>
          <ion-select multiple="false" [(ngModel)]="country_id" (ionChange)="getzone($event)">
            
              
              <ion-option *ngFor="let country of countries" [value]='country.country_id'  selected="false">{{country.name}}
              </ion-option>
          
          </ion-select>          
      </ion-item>
      <ion-item>
          <ion-label floating>Estado/Región</ion-label>
          <ion-select multiple="false" [(ngModel)]="zoneid" >
              <ion-option *ngFor="let zone of zones" selected [value]='zone.zone_id'  selected="false">{{zone.name}}
                </ion-option>
          </ion-select>        
      </ion-item>
      <ion-item>
          <ion-label floating>Forma de Pago</ion-label>
          <ion-select id="formadepago" interface="action-sheet" multiple="false" [(ngModel)]="formadepago" (ionChange)="validarlogin($event)" >
              <ion-option  value=1>Transferencia Bancaria</ion-option>
              <ion-option  value=2>Tarjeta de crédito</ion-option>
              
          </ion-select> 
      </ion-item>
      <div *ngIf="formadepago==1">
          <ion-item>
            <h2>Eleana Osuna M.</h2>
            <h2>V-16.793.377</h2>
            <h3>correo:eleanacarolinaosuna@gmail.com</h3>
          </ion-item>
          <ion-item>
              <img src="assets/imgs/banesco.jpg" height="40px">
              <ion-note color="dark" item-end>
              0134-0057-11-0573015103
              </ion-note>
          </ion-item>
          <ion-item>
              <img src="assets/imgs/bdv.jpg" height="40px">
              <ion-note color="dark" item-end>
              0102-0856-4100-00054056
              </ion-note>
          </ion-item>

          <ion-item>
              <img src="assets/imgs/bod.jpg" weight="60px">
              <ion-note color="dark" item-end>
              0116-0133-21-0023200383
              </ion-note>
          </ion-item>
      <ion-item>
          <ion-label floating>Banco</ion-label>
          <ion-select [(ngModel)]="banco">
              <ion-option [value]="1" selected="true">Banesco</ion-option>
              <ion-option [value]="2">Banco de Venezuela</ion-option>
              <ion-option [value]="3">B.O.D.</ion-option>
            
          </ion-select>
          
        </ion-item>
        <ion-item>
          <ion-label floating>Referencia</ion-label>
          <ion-input [(ngModel)]="referencia" type="text" (input)='validaespeciales($event)' (input)='validaespeciales($event)' (change)='validaespeciales($event)'></ion-input>
        </ion-item>
     </div>
      <div *ngIf="formadepago==2">
          <br>
          <div text-center>
              Esta transacción será procesada de forma segura gracias a la plataforma de:
              <img src="assets/imgs/instapagologo.png">
          </div>
        <ion-item>
          <ion-label floating>Nombre como aparece en la tjta</ion-label>
          <ion-input [(ngModel)]="cardholder" type="text" (input)='validaespeciales($event)' (input)='validaespeciales($event)' (change)='validaespeciales($event)'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cédula</ion-label>
          <ion-input [(ngModel)]="cedula" type="number"  (input)='validaespeciales($event)' (change)='validaespeciales($event)' min="100000" max="99999999"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Número de Tarjeta</ion-label>
          <ion-input [(ngModel)]="cardnumber" type="number" (input)='validaespeciales($event)' (change)='validaespeciales($event)' ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Código de Seguridad</ion-label>
          <ion-input [(ngModel)]="cvc" type="password" max="999" (input)='validaespeciales($event)' (change)='validaespeciales($event)'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Expiración</ion-label>
            <ion-datetime displayFormat="MM/YYYY" [(ngModel)]="expirationdate"></ion-datetime>
        </ion-item>

        
        <button ion-button block [disabled]="!botonpago" color="light" (click)="procesarpago()">Pagar y Colocar Orden</button>
        <br>
        <div text-center>
            Esta transacción será procesada de forma segura gracias a la plataforma de:
            <img src="assets/imgs/instapagologo.png">
        </div>
        <div id="voucher">
            <div [innerHTML]="voucher"></div>
        </div>
      </div>
      <ion-item>
          <ion-label floating>Observaciones</ion-label>
          <ion-input [(ngModel)]="observaciones" type="textarea"></ion-input>
      </ion-item>
      <ion-item>
        <ion-buttons  color="light">
        <button ion-button block color="light" (click)="putorder()">Colocar Orden</button>
      </ion-buttons> 
      </ion-item>

    </ion-list>
  </div>
  
</ion-content>