page-cart-pop {
    .input .number {

        height: 25px !important;
        
        width: 80px !important;
        
        font-size: 14px !important;
        
        }
        .shrinki {

            height: 25px !important;
            
            width: 30px !important;
            
            font-size: 14px !important;
            
            }
            
}
